.chart {
  position: relative;
  padding: 1rem 0;

  border-top: 1px solid #ccc;

  background: white;

  .canvas {
    height: 200px;
    width: 300px;
  }

  .axis {
    font-size: 11px;
  }

  .sparkline,
  .avg-sparkline {
    fill: none;
    stroke: #000;
    stroke-width: 1;
    shape-rendering: optimizeSpeed;
  }

  .avg-sparkline {
    stroke: #f00;
  }

  .domain-line {
    fill: none;
    stroke: #000;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }

  .tick-label {
    font-size: 11px;
    text-anchor: middle;
  }

  .focus,
  .avg-focus {
    fill: #000;
    stroke: #000;
    stroke-width: 0;
    shape-rendering: optimizeSpeed;
    cursor: pointer;
  }

  .avg-focus {
    fill: #f00;
  }
}

.tooltip {
  position: absolute;

  font-size: 11px;

  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}
