.chart {
  position: relative;
  padding: 20px;

  color: white;
  background: #333;

  .canvas {
    height: 200px;
    width: 100%;
  }

  .axis {
    font-size: 10px;
    stroke: white;
  }

  .axis .tick line {
    fill: none;
    stroke-width: 1;
    stroke: white;
    shape-rendering: crispEdges;
  }

  .axis .tick text {
    stroke-width: 0;
    fill: white;
  }

  .sparkline,
  .avg-sparkline {
    fill: none;
    stroke: #00a3db;
    stroke-width: 1;
  }

  .avg-sparkline {
    stroke: white;
  }

  .domain-line {
    fill: none;
    stroke: white;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }

  .label {
    font-size: 10px;
    color: white;
    text-anchor: end;
    stroke-width: 0;
    fill: white;
  }

  .focus,
  .avg-focus {
    fill: #00a3db;
    stroke-width: 0;
    shape-rendering: optimizeSpeed;
    cursor: pointer;
  }

  .avg-focus {
    fill: white;
  }

  .year-line {
    stroke: white;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
}

.tooltip {
  position: absolute;
  padding: 2px 4px;

  font-size: 10px;
  font-weight: bold;

  background: white;

  transform: translate(-50%, -120%);
  pointer-events: none;
  z-index: 3;
}
