.timeline {
  position: absolute;
  display: flex;
  padding: 5px 10px;
  bottom: 3rem;
  left: 2rem;
  right: 2rem;

  background: white;

  z-index: 1;

  ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    padding: 5px 10px;

    font-size: 10px;
    font-weight: bold;
    cursor: pointer;

    &._active, &:hover {
      color: white;
      background-color: #004b74;
    }
  }

  .control {
    position: relative;
    width: 26px;
    height: 26px;

    & + ul {
      margin-left: 20px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;

      border-top: 8px solid transparent;
      border-left: 12px solid #333;
      border-bottom: 8px solid transparent;

      transform: translate(-50%, -50%);
    }

    &._playing::after {
      width: 4px;
      height: 16px;
      border-top: 0;
      border-bottom: 0;
      border-right: 4px solid #333;
      border-left: 4px solid #333;
    }
  }
}
