.layers {
  padding: 20px;

  color: white;

  background: #004b74;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
