.legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  background: white;

  .buckets {
    display: flex;
  }

  .bucket {
    width: 40px;
    height: 10px;
    margin: 0 1px;
    background-color: #ddd;
  }
}
